<!doctype html>
{% load static %}
<html>
    <head>
      <meta charset="utf-8">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>CloudIris</title>
      <link rel="stylesheet" href="{% static 'Iris/assets/css/dropcast.css' %}">
      <link rel="author" href="CloudIris SA">
      <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Rufina:400,700|Source+Sans+Pro:200,300,400,600,700" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    </head>
    <body class="page--detail">
      <nav>
        <div class="logo nav__logo">
          <a href="{% url 'home' %}"><img src="{% static 'Iris/assets/images/logo.svg' %}" alt="logo"/></a>
        </div>
        <ul class="nav__list">
          <li class="nav__item"><a href="">Cloudapi</a></li>
        </ul>
      </nav>
      <section class="site">
        <div id="site__bg"></div>
        <div class="left">
          <label for="" class="site__label">{% block class_number %}{% endblock %}</label>
          <h1 class="site__title site__title--separator">{% block class_name %}{% endblock %}</h1>
        </div>
        <div class="right">
          <img src="{% static 'Iris/assets/images/photos/original/1.png' %}" alt="" class="episode__image">
          <div class="site__playbar">
          </div>
          <h4 class="site__secondary_title">Descripción</h4>
          <p class="site__description">
              {% block description %}{% endblock %}
          </p>
        </div>
      </section>
      <script src="{% static 'Iris/assets/js/dropcast.js' %}"></script>
    </body>
</html>