<!doctype html>
{% load static %}
<html>
    <head>
      <meta charset="utf-8">
      <meta name="description" content="Dropcast is a responsive HTML/CSS/Javascript template for podcasts">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>CloudIris</title>
      <link rel="stylesheet" href="{% static 'Iris/assets/css/dropcast.css'%}">
      <link rel="author" href="CloudIris S.A.">
      <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Rufina:400,700|Source+Sans+Pro:200,300,400,600,700" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    </head>
    <body>
      <div id="site__bg"></div>
      <div class="main">
        <nav>
          <div class="logo nav__logo">
            <a href="{% url 'home' %}"><img src="{% static 'Iris/assets/images/logo.svg' %}" alt="logo"/></a>
          </div>
          <ul class="nav__list">
            <li class="nav__item"><a href="{% url 'apiform' %}">Cloudapi</a></li>
          </ul>
          
        </nav>
        <section class="site">
          <h1 class="site__title site__title--separator">CloudIris</h1>
          <p class="site__description">Servicio de información y predicción sobre 3 de las clases más comunes de la especie Iris</p>
        </section>
        <section class="episodes">
          <article class="episode">
            <h2 class="episode__number">01</h2>
            <div class="episode__media">
              <a href="{% url 'setosa' %}" class="episode__image"></a>
            </div>
            <div class="episode__detail">
              <a href="{% url 'setosa' %}" class="episode__title"><h4>Iris Setosa</h4></a>
              <p class="episode__description">También conocida como iris puntiagudo, es una especie del género Iris , también se encuentra en el subgénero de Limniris y en la serie Iris Tripetalae .</p>
            </div>
          </article>
          <article class="episode">
            <h2 class="episode__number">02</h2>
            <div class="episode__media">
              <a href="{% url 'versicolor' %}" class="episode__image"></a>
            </div>
            <div class="episode__detail">
              <a href="{% url 'versicolor' %}" class="episode__title"><h4>Iris Versicolor</h4></a>
              <p class="episode__description">Es una especie de Iris nativa de América del Norte, en el este de los Estados Unidos y el este de Canadá . Es común en las praderas de juncia, en los pantanos y en las orillas y arroyos.</p>
            </div>
          </article>
          <article class="episode">
            <h2 class="episode__number">03</h2>
            <div class="episode__media">
              <a href="{% url 'virginica' %}" class="episode__image"></a>
            </div>
            <div class="episode__detail">
              <a href="{% url 'virginica' %}" class="episode__title"><h4>Iris Virginica</h4></a>
              <p class="episode__description">Iris virginica es una planta perenne. La planta tiene de 2 a 4 hojas erectas o arqueadas, de color verde brillante, en forma de lanza que se aplanan en un plano en la base.</p>
            </div>
          </article>
        </section>
      </div>
      <footer>
        <p class="footer__content"> <a href="#"> Iris Research S.A. </a> By Jonatan Huergo &amp; Jaime Bermeo</p>
        <div class="logo footer__logo">
          <a href="{% url 'home' %}"><img src="{% static 'Iris/assets/images/logo-white.svg' %}" alt="logo"/></a>
        </div>
      </footer>
      <script src="{% static 'Iris/assets/js/dropcast.js' %}"></script>
    </body>
</html>